<!DOCTYPE html>
<html>
    <head>

    </head>
    <body class="fq-home-compact">
        <header>
            <nav id="fq-main-menu" class="navbar navbar-expand-lg fixed-top bg-white fq-main-menu-compact">
        <div class="container-xxl">
            <a id="fq-main-menu-logo" class="navbar-brand" href="/"><img src="/design/sazla.png" alt="sazla logo" ></a>
                       <span class="navbar-toggler-icon"></span>
            </button>
            <div id="fq-main-menu-items" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/profile">Haqqımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/profile">Xidmətlərimiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/profile">Planlar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kömək">Kömək</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <a id="fq-main-menu-auth" class="btn btn-sm btn-link" href="/accounts/register">Daxil ol</a>
                    <a id="fq-main-menu-access" class="btn btn-sm fq-btn-primary" href="/accounts/register">Qeydiyyatdan keç</a>   
                </form>
            </div>
            <div id="fq-main-menu-shading-fixed"></div>
        </div>
    </nav>    
        </header>
    </body>
</html>